.ctxmenu, .ctxmenu--sub {
    position: absolute;
    top: 0;
    background-color: #fff;
    padding: 8px 0;
    min-width: 112px;
    max-width: 280px;
    visibility: hidden;
    opacity: 0;
    border-radius: 4px;
    transform: scale(0.8);
    transition: transform 0.12s cubic-bezier(0.0, 0.0, 0.2, 1), opacity 0.03s linear;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    will-change: visibility, opacity, transform;
}
	.ctxmenu--dark {
		background-color: #232323;
		color: #fff;
	}
	.ctxmenu--open {
		transform: scale(1);
		visibility: visible;
		opacity: 1;
	}
	.ctxmenu--compact, .ctxmenu--compact .ctxmenu--sub { padding: 4px 0; }

.ctxmenu .ctxmenu--item {
    position: relative;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #444444;
    display: block;
    cursor: pointer;
    padding: 0 16px;
    line-height: 48px;
    user-select: none;
    -ms-user-select: none;
    background-color: inherit;
    transition: background-color .10s linear;
}	
	.ctxmenu .ctxmenu--item .ctxmenu--text {
		display: block;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
	}
    .ctxmenu .ctxmenu--item.ctxmenu--hassubs { padding: 0 40px 0 16px; }
    .ctxmenu .ctxmenu--item.ctxmenu--hassubs::after {
        content: '';
        display: block;
        position: absolute;
        top: 18px;
        right: 16px;
        border: 6px solid transparent;
        border-left-color: #6E6E6E;
        border-right: 0;
    }
    .ctxmenu .ctxmenu--disabled.ctxmenu--hassubs::after { border-left-color: #BBBBBB; }
    .ctxmenu--dark .ctxmenu--disabled.ctxmenu--hassubs::after { border-left-color: #666666; }
    .ctxmenu--compact .ctxmenu--item {
        font-size: 14px;
        line-height: 32px;
        padding: 0 12px;
    }
	.ctxmenu--dark .ctxmenu--item { 
        color: #BBBBBB;
        background-color: inherit;
	}
	.ctxmenu .ctxmenu--item:hover, .ctxmenu .ctxmenu--item:focus { background-color: rgba(0,0,0,.07); }
	.ctxmenu .ctxmenu--item:active { background-color: rgba(0,0,0,.15); }
	.ctxmenu--dark .ctxmenu--item:hover, .ctxmenu--dark .ctxmenu--item:focus { background-color: rgba(255,255,255,.06); }
	.ctxmenu--dark .ctxmenu--item:active { background-color: rgba(255,255,255,.15); }
    .ctxmenu .ctxmenu--disabled { color: #BBBBBB !important; }
    .ctxmenu--dark .ctxmenu--disabled { color: #666666 !important; }
    .ctxmenu .ctxmenu--disabled:hover, .ctxmenu .ctxmenu--disabled:focus, .ctxmenu .ctxmenu--disabled:active {
        background-color: transparent;
        cursor: default;
    }
	.ctxmenu .ctxmenu--divider {
        display: block;
        margin: 6px 0;
        border-bottom: 1px solid rgba(0,0,0,0.12); 
    }
    .ctxmenu--dark .ctxmenu--divider { border-bottom-color: rgba(255,255,255,.12); }
	.ctxmenu .ctxmenu--item .material-icons {
		color: #6E6E6E;
		padding: 12px 16px 12px 0;
        width: auto;
        height: auto;
        float: left;
	}
    .ctxmenu .ctxmenu--disabled .material-icons { color: #BBBBBB !important; }
    .ctxmenu--dark .ctxmenu--disabled .material-icons { color: #666666 !important; }
    .ctxmenu--compact .ctxmenu--item .material-icons {
        padding: 7px 10px 7px 0; 
        font-size: 18px;
    }
	.ctxmenu--dark .ctxmenu--item .material-icons { color: #919191; }
    .ctxmenu--item .ctxmenu--sub {
        top: -8px;
        left: 100%;
        transform-origin: top left;
        z-index: 1;
    }
    .ctxmenu .ctxmenu--item:not(.ctxmenu--disabled):hover > .ctxmenu--sub {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }